In [10]:
import pandas as pd
import numpy as np

In [11]:
train = pd.DataFrame({
    'a': [1, 2, 2, 3, 3, 3, np.nan],
    'b': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.65]
})

train

     a     b
0  1.0  0.10
1  2.0  0.20
2  2.0  0.30
3  3.0  0.40
4  3.0  0.50
5  3.0  0.60
6  NaN  0.65

In [13]:
test = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [0.7, 0.8, 0.9]
})

test

   a    b
0  1  0.7
1  2  0.8
2  3  0.9

## Count Encoding

In [15]:
train['a_count'] = train['a'].map(pd.concat([train['a'], test['a']], ignore_index=False).value_counts(dropna=False))
train

     a     b  a_count
0  1.0  0.10        2
1  2.0  0.20        3
2  2.0  0.30        3
3  3.0  0.40        4
4  3.0  0.50        4
5  3.0  0.60        4
6  NaN  0.65        1

## Count Encoding with Normalization

In [16]:
train['a_count'] = train['a'].map(pd.concat([train['a'], test['a']], ignore_index=False).value_counts(normalize=True, dropna=False))
train

     a     b  a_count
0  1.0  0.10      0.2
1  2.0  0.20      0.3
2  2.0  0.30      0.3
3  3.0  0.40      0.4
4  3.0  0.50      0.4
5  3.0  0.60      0.4
6  NaN  0.65      0.1

In [19]:
train_test = pd.concat([train, test], axis=0)

gb = train_test.fillna(-1).groupby('a').agg({'b': 'mean'})
gb.columns = ['a_b_mean']

train.merge(gb, on='a', how='left')

/Users/harutaka/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     a     b  a_count  a_b_mean
0  1.0  0.10      0.2  0.400000
1  2.0  0.20      0.3  0.433333
2  2.0  0.30      0.3  0.433333
3  3.0  0.40      0.4  0.600000
4  3.0  0.50      0.4  0.600000
5  3.0  0.60      0.4  0.600000
6  NaN  0.65      0.1       NaN

In [20]:
train.nunique()

a          3
b          7
a_count    4
dtype: int64

In [ ]:
train.