In [1]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from tqdm import tqdm

In [2]:
%ls -lh ../input/

total 5.1G
-rw-r--r-- 1 harutaka harutaka  45K Oct 10 17:20 building_metadata.csv
-rw-r--r-- 1 harutaka harutaka 427M Oct 10 17:20 sample_submission.csv
-rw-r--r-- 1 harutaka harutaka 1.4G Oct 10 17:20 test.csv
-rw-r--r-- 1 harutaka harutaka 1.8G Oct 20 21:54 test.pkl
-rw-r--r-- 1 harutaka harutaka 648M Oct 10 17:22 train.csv
-rw-r--r-- 1 harutaka harutaka 922M Oct 20 22:19 train.pkl
-rw-r--r-- 1 harutaka harutaka  15M Oct 10 17:23 weather_test.csv
-rw-r--r-- 1 harutaka harutaka 7.2M Oct 10 17:23 weather_train.csv

In [3]:
train = pd.read_pickle('../input/train.pkl')
test = pd.read_pickle('../input/test.pkl')

In [4]:
train.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,2016-01-01,0.0,0,Education,7432,2008.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0
1,1,0,2016-01-01,0.0,0,Education,2720,2004.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0
2,2,0,2016-01-01,0.0,0,Education,5376,1991.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0
3,3,0,2016-01-01,0.0,0,Education,23685,2002.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0
4,4,0,2016-01-01,0.0,0,Education,116607,1975.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20125605 entries, 0 to 20125604
Data columns (total 16 columns):
building_id           int16
meter                 int8
timestamp             datetime64[ns]
meter_reading         float32
site_id               int8
primary_use           object
square_feet           int32
year_built            float16
floor_count           float16
air_temperature       float16
cloud_coverage        float16
dew_temperature       float16
precip_depth_1_hr     float16
sea_level_pressure    float16
wind_direction        float16
wind_speed            float16
dtypes: datetime64[ns](1), float16(9), float32(1), int16(1), int32(1), int8(2), object(1)
memory usage: 1.0+ GB

In [6]:
train.isna().sum()

building_id                  0
meter                        0
timestamp                    0
meter_reading                0
site_id                      0
primary_use                  0
square_feet                  0
year_built            12113306
floor_count           16630052
air_temperature           6163
cloud_coverage         8734870
dew_temperature           9645
precip_depth_1_hr      3658528
sea_level_pressure     1141174
wind_direction         1358553
wind_speed               53181
dtype: int64

In [7]:
len(train)

20125605